body {
  background: #3f0a07;
  font-family: times new roman;
}
h1 {
  font-size: 26px;
  font-family: arial narrow;
  font-variant: small-caps;
  color: #f5ff15;
}
p {
font-size: 16px;
font-family: times new roman;
color: #00ff63;
}
